/* @font-face {
    font-family: "Source Sans Pro";
    src: url("./SourceSansPro-Light.otf");
}

* {
    font-family: "Source Sans Pro";
    box-sizing: border-box;
} */

body { 
    background-color: #f6f6f6;
    margin: 0;
    height: 100%;
}

nav {
    display: flex;
    position: relative;
    z-index: 1;
    box-shadow: 0 -1em 2em 1em #63636333;
}

nav a {
    padding: 1em;
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
}

main {
    height: auto;
    box-shadow: 0 -2em 2em -1em #63636333;
}

.container {
    border: solid 2px red;
    align-self: center;
    display: flex;
    margin-bottom: 2em;
}

button {
    background-color: #2979FF;
    padding: .5em 2em;
    font-size: 1.2em;
    color:  #f6f6f6;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 0 4px #636363;
    transition: 0.2s;
}

button:hover {
    transform: scale(0.98);
    box-shadow: 0 0 2px #636363;
}

button:active{
    transform: scale(0.96);
    background-color: #673AB7;
}

.header-image {
    height: 90vh;
    display: flex;
    /* background: url('./apartment-chair-contemporary-509922.jpg') center bottom; */
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption {
    display: flex;
    transform: scale(1.2);
    flex-flow: column;
    align-items: center;
}

.main-content {
    margin: auto;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 50em;
}

@media only screen and (max-width: 770px) {
    section{
        width: 100%;
    } 
    .container {
        flex-direction: column;
        width: 80%;
    }
}